<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Inicia Sesión | SHOESSHOP</title>
      <link rel="stylesheet" href="../css/estilos.css">
      <script src="https://kit.fontawesome.com/cc83a457b4.js" crossorigin="anonymous"></script>
      
</head>

<body>
      <!-- pie de pagina -->
      <footer id="footer">
            <section class="datos_redes_subscripcion">
                  <article class="articulo a1">
                        <span style="color:grey; font-size: 8px;">MORE </span>

                        <ul id="mas_info">
                              <a href="">
                                    <li>News</li>
                              </a>
                              <a href="">
                                    <li>Tiendas</li>
                              </a>
                              <a href="">
                                    <li>Promociones</li>
                              </a>
                              <a href="">
                                    <li>Estado del pedido</li>
                              </a>
                              <a href="">
                                    <li>Lust Exclusive Community</li>
                              </a>
                              <a href="">
                                    <li>Calendario de Lanzamientos</li>
                              </a>
                        </ul>
                  </article>
                  <article class="articulo a2">
                         <ul class="mas_info">
                              <span style="color:grey; font-size: 8px;">SUPPORT </span>

                              <a href="">
                                    <li>Servicio al cliente</li>
                              </a>
                              <a href="">
                                    <li>Facturación</li>
                              </a>
                              <a href="">
                                    <li>Aviso de privacidad</li>
                              </a>
                              <a href="">
                                    <li>Terminos y Condiciones</li>
                              </a>
                              <a href="">
                                    <li>Politica de cambios, devoluciones y reclamaciones </li>
                              </a>
                              <a href="">
                                    <li>Retiro en Tiendas</li>
                              </a>
                        </ul>
                  </article>
                  <article class="articulo a3">
                         <ul class="mas_info">
                              <span style="color:grey; font-size: 8px;">NEWSLETTER </span>

                              <form class="envia_correo" method="post" action="" enctype="multipart/form-data" utf8_encode>

                                    <div class="aviso">
                                         <input type="checkbox" name="he_leido" id="he_leido">
                                          <label for="" style="font-size: 10px;">He leído el <a href="">Aviso de Privacidad</a></label>
                                    </div>

                                    <div class="enviar_correo_btn">
                                          <input type="email" name="correo" id="correo" required placeholder="ingresa tu correo">

                                          <i onclick="submit()" class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>

                                    </div>

                              </form>
                              
                              <p style="font-size: 8px; margin-top: 5px; width:200px;">Suscríbete a nuestra newsletter y entérate antes que nadie de los próximos lanzamientos, concursos y promociones.</p>

                              <div class="redes">

                                    <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                    <a href="#">
                                    <i class="fa fa-facebook-f" aria-hidden="true"></i>
                                    </a>
                              </div>
                              
                             
                        </ul>
                  </article>
            </section>
            <section class="derechos_reservados">
                 <span>© 2024, Todos los derechos reservados</span>
                 <span>Tecnologia Snopify</span>
            </section>
      </footer>
      <script src="../js/index.js"></script>

</body>
</html>
